.sqs-system-gallery .sqs-active-slide {
  text-align: center;
}
.sqs-system-gallery img {
  position: relative !important;
  display: inline-block !important;
  left: auto !important;
}
.sqs-system-gallery .slide-meta {
  text-align: left !important;
  display: inline-block !important;
  position: relative !important;
  vertical-align: top;
  height: 100% !important;
  overflow: auto;
  left: auto !important;
  padding: 0px !important;
}
.sqs-system-gallery .slide-meta .title {
  padding: 5% 0 0 5% !important;
  font-size: 36px !important;
  line-height: 1em;
}

.sqs-system-gallery .slide-meta .description {
  padding: 5% 0 0 5% !important;
}

.summary-thumbnail-container {
pointer-events: none !important;
}


span.alt-color {
  color: LightGray
}

.marker-cluster-small {
  background-color: #7B5858 !important;
}

.marker-cluster-small div {
  background-color: #421010 !important;
}

.marker-cluster-small div span {
  color: white;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

video.bannerVideo {
  display: block;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  -ms-transform: translate(0,-100%);
  -webkit-transform: translate(0,-100%);
  -moz-transform: translate(0,-100%);
  transform: translate(0,-100%);
  overflow: hidden;
  z-index: 100;
}