<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>

<div id="map" style="height: 720px; width: 1080px;"></div>
<script src="map_code.js"></script>

<script type="text/template" class="popup-template">

	<div>
		<div style="display: inline-block; width:30%;vertical-align:middle;">
			<img style="width: 100%; height: auto;" src="http://www.seri-sa.org/images/headers/serilogo.jpg"></div>
		<div style="overflow: hidden; width: 65%; margin-left: 3%; display: inline-block;vertical-align: middle;">
			<h3><%= organization %>: <%= location %></h3><hr/>
			<div><%= description %></div>
		</div>
	</div>
	<br>
	<div><strong>Fellows</strong></div>
	<ul style="max-height: 400px; overflow-y: auto; width: 100%; columns: 2; padding: 0">
	    <% _.each(fellows, function( fellow ){ %>
	    	<li style="display: inline-block; vertical-align: top; width: 45%; margin-right: 1%; margin-left: 1%; margin-bottom: 1%; margin-top: 1%">
	    		<div style="vertical-align: top">
	    			<img src='http://static1.squarespace.com/static/5395f905e4b052b96310e7d9/5548f96ce4b007190fd07456/55490af2e4b073a4cd90a677/1430850369394/' style='width:100%'>
    			</div>
	            <div style="vertical-align: bottom"> <%- fellow %> </div>
	        </li>
	    <% }); %>
	</ul>

</script>